<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload Resume</title>
    <link rel="stylesheet" href="./static/css/home_style.css">
</head>

<body>
    <h1>Welcome to the Job Recommender</h1>

    <!-- Upload Section -->
    <div id="uploadSection">
        <h3>Upload Your Resume</h3>
        <div class="upload-box">
            <input type="file" id="resumeFile" accept="application/pdf" /><br>
            <button type="button" onclick="uploadResume()">Upload</button>
        </div>
        <div id="result" style="margin-top: 20px; font-size: 18px; color: #ffffff;"></div>
        <div id="nextStep" style="margin-top: 20px; font-size: 18px; color: #ffffff;"></div>
    </div>

    <script src="./static/js/home_script.js"></script>
</body>

</html>